doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FLYWHEEL Mouseion
  body
    h1 FLYWHEEL Mouseion
    div= path
    ul
      each fileName in fileNames
        li
          a(href="/" + fileName)= fileName
      each prefix in prefixes
        li
          a(href="/" + prefix)= prefix
