name: Deploy
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: 304.0.0
          service_account_key: ${{ secrets.GCLOUD_AUTH }}
      - name: Deploy mouseion to GAE
        run: gcloud app deploy --project flywheel-mouseion
